.toggle-switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 36px;
    height: 22px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle-slider {
    background-color: #7198d1;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #7198d1;
}

input:checked + .toggle-slider:before {
    transform: translateX(11px);
}

/* Rounded sliders */
.toggle-slider.round {
    border-radius: 34px;
}

.toggle-slider.round:before {
    border-radius: 50%;
}