/* Generic button styles */
/*:root {
    --blue-button-bg: #7198d1;
    --blue-button-hover-bg: #4c74af;
    --blue-button-active-bg: #4c74af;
    --red-button-bg: #ff6347;
    --red-button-hover-bg: #ff4500;
    --red-button-active-bg: #e03e00;
    --grey-button-bg: #d3d3d3;
    --grey-button-color: #a9a9a9;
}

[data-theme='dark'] {
    --blue-button-bg: #4c74af;
    --blue-button-hover-bg: #7198d1;
    --blue-button-active-bg: #4c74af;
    --red-button-bg: #e03e00;
    --red-button-hover-bg: #ff4500;
    --red-button-active-bg: #ff6347;
    --grey-button-bg: #a9a9a9;
    --grey-button-color: #d3d3d3;
}*/

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

/* Specific styles for default blue button */
.blue-button {
    background-color: #7198d1;
    color: white;
}

.blue-button:hover {
    background-color: #4c74af;
    transform: translateY(-3px);
}

.blue-button:active {
    background-color: #4c74af;
    transform: translateY(0);
}

/* Specific styles for red-button */
.red-button {
    background-color: #ff6347;
    color: white;
}

.red-button:hover {
    background-color: #ff4500;
    transform: translateY(-3px);
}

.red-button:active {
    background-color: #e03e00;
    transform: translateY(0);
}

/* Specific styles for grey-button */
.grey-button {
    /* Disabled state styles */
    background-color: #d3d3d3;
    color: #a9a9a9;
    pointer-events: none; /* Disable pointer events */
    opacity: 0.5; /* Reduce opacity when disabled */
    cursor: not-allowed; /* Change cursor when disabled */
}

/* Specific styles for icon-button */
.home-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon { /* icon used in home-button */
    margin-right: 10px; /* Adjust as necessary */
    color: white;
    transition: transform 0.5s ease; /* Add transition for smooth scaling */
}

.home-button:hover .icon {
    transform: scale(1.3); /* Scale the icon on hover */
}

/* Specific styles for rooms-button */
.rooms-button {
    background-color: #eeeeee;
    color: black;
    padding: 30px 60px;
    font-size: 2em;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 48px;
}

.rooms-button:hover {
    background-color: white;
    transform: translateY(-3px);
}

.rooms-button:active {
    background-color: #4c74af;
    transform: translateY(0);
}

.rooms-button {
    background-color: #4c74af;
    color: #fdfdfd;
    padding: 30px 60px;
    display: flex;
    flex-direction: column; /* Colocar ícone acima do texto */
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
}

.rooms-button:hover {
    background-color: rgb(106, 146, 197);
    transform: translateY(-3px);
}

.rooms-button:active {
    background-color: transparent;
    transform: translateY(0);
}

.rooms-button .icon {
    color: white;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    font-size: 125px;
    line-height: 1;
}

/* Ajustar o ícone ao passar o rato e ao clicar */
.rooms-button:hover .icon,
.rooms-button:active .icon {
    transform: scale(1.05);
}

.rooms-button .text-container {
    font-size: 48px;
    line-height: 1;
}