
.header {
    width: calc(100% - 15px); /* Adjusted to account for margin */
    height: 100px;
    background: rgba(76, 116, 175, 0);
    color: rgba(255, 255, 255, 0);
    background-size: 300% 300%;
    animation: move 10s ease infinite;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px; /* Adjusted padding */
    border-radius: 10px;
    margin: 10px; /* Added margin for spacing */
    box-sizing: border-box; /* Includes margin in the element's width */
}

.header-text {
    font-size: 32px;
    color: white;
    font-weight: bold;
    padding-left: 20px; /* Adjusted padding between mushroom icon and text */
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    color: white;
}
