.readings-list {
    padding: 20px;
    /*overflow: scroll;*/
}

.readings-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.readings-list-info p {
    margin: 5px 0;
}

.readings-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.readings-table th, .readings-table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.readings-table th {
    background-color: #4c74af;
    color: white;
    font-weight: bold;
}

.reading-item {
    background-color: #f9f9f9;
}

.reading-item:nth-child(even) {
    background-color: #f2f2f2;
}

.reading-item:hover {
    background-color: #e0e0e0;
}

.custom-readings-card {
    background-color: rgba(224, 224, 224, 0.61);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.order-selector {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha à direita */
    margin-bottom: 10px; /* Espaçamento inferior */
}

.order-selector label {
    margin-right: 10px;
}

.order-selector select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 14px;
}

.table-header-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}







  